@inject ToolbarState AppState

@page "/"

<button class="btn btn-primary" @onclick="UpdateItemOne">Update Item One</button>

<button class="btn btn-primary" @onclick="UpdateItemTwo">Update Item Two</button>

@code {

    void UpdateItemOne()
    {
        var pages = AppState.TabPages;
        pages[0].Text = "Updated One";
        pages[0].Value = "Updated 1";
        AppState.UpdateTabPages(this, pages);
    }

    void UpdateItemTwo()
    {
        var pages = AppState.TabPages;
        pages[1].Text = "Updated Two";
        pages[1].Value = "Updated 2";
        AppState.UpdateTabPages(this, pages);
    }
}